<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Header</title>
  </head>


<body leftmargin="80px", topmargin="80px">



  <a href="/login">Login</a>
  <a href="/register">Register</a>
  <form action="/login" method="POST" >


</br>
</br>



</body>

</html>