<!DOCTYPE html>
<html lang="en">

<header>
    <% include partials/_header %>
</header>

<body>


<ul>
    <li> Long URL: <%= longURL%></li>
    <li> Short URL: <%= '/url/' + shortURL %></li>
</ul>


</body>

</html>