<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp - Your short URL</title>
</head>

<header>
    <% include partials/_header %>
</header>

<body leftmargin="100px", topmargin="100px">

<h2>Short URL: <%= shortURL %></h2>
</br>
<form action="/urls/<%= shortURL %>/update" method="POST">
  <input id="longURL" type="text" name="longURL" placeholder="<%= longURL%>" style="height: 30px; width: 300px">
  <input type="submit" value="Update">
</form>


</body>

</html>