<!DOCTYPE html>
<html lang="en">

<header>
    <% include partials/_header %>
</header>

<body>

<ul>
  <% for (let url in urls) { %>
    <li> <%= url %>: <%= urls[url] %>
  <% } %>
</ul>

<a href="/">Generate short URL</a>

</body>

</html>