<!DOCTYPE html>
<html lang="en">

<header>
    <% include partials/_header %>
</header>

<body>

<h2>Congratulations! Your short URL has been created.</h2>

<table cellpadding="5px">
  <tr>
    <td>Original URL:</td>
    <td><a href="<%= longURL%>"><%= longURL%></a></td>
  </tr>

  <tr>
    <td>Short URL:</td>
    <td><%= '/urls/' + shortURL %></td>
  </td>


</body>

</html>