<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp - Your short URL</title>
</head>



<body leftmargin="80px", topmargin="80px" style="background-color: #81D8D5; font-family: Arial">

<h1>Your shortened URL</h1>

<% include partials/_header %>

<h2>Short URL: <%= shortURL %></h2>
</br>
<form action="/urls/<%= shortURL %>/update" method="POST">
  <input id="longURL" type="text" name="longURL" placeholder="<%= longURL%>" style="height: 30px; width: 300px">
  <input type="submit" value="Update">
</form>
</br>
</br>
<button type = "button" padding="10px"><a href="/urls">Take me to my URLs</a></button>
<button type = "button" padding="10px"><a href="/urls/new">Generate short URL</a></button>

</body>

</html>