<!DOCTYPE html>
<html lang="en""

<head>
  <title>Shortened URLs</title>
</head>

<body>



<ul>
    <li> Long URL: <%= longURL%></li>
    <li> Short URL: <%= '/url/' + shortURL %></li>
</ul>


</body>

</html>